[run]
include = catalog/*
omit = *test_*
branch = True
disable_warnings=include-ignored

[report]
exclude_lines =
# Have to re-enable the standard pragma
    pragma: no cover
    if __name__ == .__main__.:
    pass
